/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
.container {
  font-size: 1.6rem;
  max-width: 900px;
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
}
header {
  display: flex;
  justify-content: flex-end;
  padding: 2.5rem 0px;
}
header nav a {
  padding-left: 2rem;
  text-decoration: none;
  color: black;
}
.top-content {
  background: #E9ECEF;
}
.top-content img {
  max-width: 200px;
}
.top-content .head,
.top-content .bottom {
  padding: 35px;
}
.top-content .head button,
.top-content .bottom button {
  margin-top: 20px;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 10px;
}
.top-content .head h1 {
  font-size: 6rem;
}
.top-content .head h4 {
  margin-top: 10px;
  font-size: 2rem;
}
hr {
  width: 85rem;
}
.middle-content {
  display: flex;
  justify-content: space-between;
}
.middle-content .content {
  margin-top: 20px;
  width: 48%;
}
.middle-content .content h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.middle-content .content h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.middle-content div dt {
  border: 1px solid #E8E8E8;
  padding: 20px;
}
.section-bottom {
  margin-top: 20px;
}
table {
  margin: 0 auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 50px;
}
table td,
table th {
  text-align: left;
  padding: 8px;
}
table tr:nth-child(even) {
  background-color: #F2F2F2;
}
footer {
  max-width: 100%;
  height: 7rem;
  background: #808080;
}
footer p {
  display: flex;
  padding-top: 25px;
  justify-content: center;
}
